<%= form_with(model: proyecto, local: true, :html => {:multipart => true}) do |form| %>
  <% if proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :proyecto_titulo %>
  </div>

  <div class="field">
    <%= form.label :tramite %>
    <%= form.text_field :tramite, id: :proyecto_tramite %>
  </div>

  <div class="field">
    <%= form.label :ubicacion %>
    <%= form.text_field :ubicacion, id: :proyecto_ubicacion %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :proyecto_descripcion %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :proyecto_fecha %>
  </div>

	<% if @proyecto.portada.blank?%>
	  <div class="field">
		<%= form.label :portada %>
		<%= form.file_field :portada %>
	  </div>
	 <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
