<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @proyecto.titulo %>
</p>

<p>
  <strong>Tramite:</strong>
  <%= @proyecto.tramite %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @proyecto.ubicacion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @proyecto.descripcion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @proyecto.fecha %>
</p>

<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Back', proyectos_path %>
